@model Lesson1.Models.ViewModels.UpdateResort

@{
    ViewBag.Title = "Edit";
}
<h1><a class="back_btn" href="/Resort/List"><< </a></h1>
<h2>Edit</h2>

<form action="/Resort/Update/@Model.SelectedResort.ResortId" method="POST">
    <div style="display:none;">
        <label>Resort Id:</label><input type="number" name="ResortId" value="@Model.SelectedResort.ResortId" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="ResortName" value="@Model.SelectedResort.ResortName" />
    </div>
    <div>
        <label>Address:</label> <textarea name="address"> @Model.SelectedResort.address </textarea>
    </div>
    <div>
        <label>Description:</label> <textarea name="description"> @Model.SelectedResort.description </textarea>
    </div>
    <div>
        <label>Number Of Trails Open:</label> <input type="text" name="NumberOfTrailsOpen" value="@Model.SelectedResort.NumberOfTrailsOpen" />
    </div>
    <div>
        <label>Contact:</label> <input type="text" name="Contact" value="@Model.SelectedResort.Contact" />
    </div>
    <div>
        <label>Wheelchair Accessible:</label> <input type="checkbox" name="WheelchairAccessible" value="true" />
    </div>
    <div>
        <label>Number Of Restaurants:</label> <input type="number" name="NumberOfRestaurants" value="@Model.SelectedResort.NumberOfRestaurants" />
    </div>
    <div>
        <label>Link of website:</label> <input type="text" name="Link" value="@Model.SelectedResort.Link" />
    </div>
    <div>
        <input type="submit" class="submit_btn" value="Update Resort" />
    </div>



</form>
