@model Lesson1.Models.ViewModels.DetailsTrail
@{
    ViewBag.Title = "View Detail";
}

<h1><a class="back_btn" href="/Trail/List"><< </a></h1>
<h2>Trail Details</h2>

<h2><a href="/Resort/Details/@Model.SelectedTrail.ResortId"> @Model.SelectedTrail.ResortName</a> </h2>

<div>Beginner Trails: @Model.SelectedTrail.BeginnerTrails </div>
<div>Intermediate Trails: @Model.SelectedTrail.IntermediateTrails </div>
<div>Advanced Trails: @Model.SelectedTrail.AdvancedTrails </div>
<div>Terrain Parks: @Model.SelectedTrail.TerrainPark </div>
<div>Tubing Parks: @Model.SelectedTrail.TubingPark </div>

<a class="update_btn" href="/Trail/Edit/@Model.SelectedTrail.TrailId">Update </a>
<a class="delete_btn" style="color:#ab2020;" href="/Trail/DeleteConfirm/@Model.SelectedTrail.TrailId">Delete</a>

<div class="trailMap">
    @{
        string imageurl = "/Content/img/trailPic/default.jpg";
        if (Model.SelectedTrail.TrailHasPic)
        {
            imageurl = "/Content/img/trailPic/" + Model.SelectedTrail.TrailId + "." + Model.SelectedTrail.PicExtension;
        }
    }
    <div><img style="display:block; max-width:100%;" alt="@Model.SelectedTrail.ResortName" src="@imageurl" /></div>

</div>
