@model Lesson1.Models.ViewModels.UpdateTrail

@{
    ViewBag.Title = "Edit";
}
<h1><a class="back_btn" href="/Trail/List"><< </a></h1>
<h2>Update Trails</h2>

<div>
    <p><label>TrailId:</label> @Model.SelectedTrail.TrailId</p>
</div>
<div>
    <p><label>Resort:</label> @Model.SelectedTrail.ResortName</p>
</div>

<form action="/Trail/Update/@Model.SelectedTrail.TrailId" method="POST" enctype="multipart/form-data">
    
    <div>
        <label>Beginner Trails:</label> <input type="number" name="BeginnerTrails" value="@Model.SelectedTrail.BeginnerTrails" />
    </div>
    <div>
        <label>Intermediate Trails:</label> <input type="number" name="IntermediateTrails" value="@Model.SelectedTrail.IntermediateTrails" />
    </div>
    <div>
        <label>Advanced Trails:</label> <input type="number" name="AdvancedTrails" value="@Model.SelectedTrail.AdvancedTrails" />
    </div>
    <div>
        <label>Terrain Parks:</label> <input type="number" name="TerrainPark" value="@Model.SelectedTrail.TerrainPark" />
    </div>
    <div>
        <label>Tubing Parks:</label> <input type="number" name="TubingPark" value="@Model.SelectedTrail.TubingPark" />
    </div>

    <div>
        <input type="submit" value="Update Trail" />
    </div>

</form>

